*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





header{
  display: flex;
  justify-content: center;
  background-color: #ADD8E6;
  height: 80px;
}



header .container-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;  
}



.logo, .nav, .login{
  display: flex;
  align-items: center;
  background-color: #DAA520;
  border: 1px solid black;
  border-style: dashed;
}



.logo, .login{
  width: 150px;
  height: 30px;
}



.nav{
  width: 250px;
  height: 30px;
 
}


.nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
}


main .section-blue-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #00008B;
}



section .rettangolo-rosa{
  width: 40%;
  height: 200px;
  background-color: #EE82EE;
  border: 1px solid black;
  border-style: dashed;
}



section .first-section-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}


.quadrato-blu{
  width: 300px;
  height: 200px;
  background-color: #1E90FF;
  border: 1px solid black;
  border-style: dashed;
}


.quadrato-rosa{
  width: 200px;
  height: 200px;
  background-color: #FFC0CB;
  border: 1px solid black;
  border-style: dashed;
}


section .second-section-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #D3D3D3;
  height: 300px;
}

.quadrato-pink{
  width: 300px;
  height: 200px;
  background-color: #FFC0CB;
  border: 1px solid black;
  border-style: dashed;
}


.quadrato-azure{
  width: 200px;
  height: 200px;
  background-color: #1E90FF;
  border: 1px solid black;
  border-style: dashed;
}



section .verde-flex{
  display: flex;
  justify-content: center;
  align-items:center ;
  background-color: #D3D3D3;
  height: 500px;
} 


.rettangolo-verde{
  height: 400px;
  width: 500px;
  background-color: #228B22;
  border: 1px solid black;
  border-style: dashed;
  
}



.container-footer-flex{
  display: flex;
  justify-content: center;
  height: 360px;
  background-color: #23272A;
}

.quadrati{
  display: flex;
  flex-direction: row;
}

.red{
  height: 300px;
  width: 150px;
  background-color: #F08080;
  margin: 10px 0;
  border: 1px solid black;
  border-style: dashed;
}

.green{
  height: 300px;
  width: 88px;
  background-color: #20B2AA;
  margin: 10px 0;
  border: 1px solid white;
  border-style: dashed;
}


.footer-nav-flex{
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #23272A;  
}


.footer-nav-flex .acquamarina{
  width: 500px;
  height: 70px;
  background-color: #7FFFD4;
  margin-bottom: 50px;
}



.acquamarina .logo-footer{
  width: 54px;
  height: 20px;
  background-color: #FFB6C1;
  border: 1px solid black;
  border-style: dashed;
  text-align: center;
 
}


.acquamarina .bottone{
  width: 54px;
  height: 20px;
  background-color: #FFB6C1;
  border: 1px solid black;
  border-style: dashed;
  text-align: center; 
  
}